#navigation #main-menu {
  padding: 34px 26px 0 26px;
  font-size: 18px;
  font-weight: 200;
  border-bottom: 1px solid $color_accent;
  line-height: normal;
  margin: 0;
  &:focus {
    outline: none;
  }
  h2 {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: $color_accent_dark;
  }
  a:hover {
    color: $color_accent;
  }
  li:hover {
    border-bottom: 2px solid $color_accent_light;
  }
  li {
    padding: 0 0 10px 0;
    margin-right: 15px;
    margin-bottom: -1px;
  }
  li.active {
    border-bottom: 3px solid $color_accent_dark;
    a {
      color: $color_accent_black;
    }
  }
}
